@font-face{ 
    font-family: 'Netfix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal; 
    
  }
  
  @font-face{ 
    font-family: 'Netfix';
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal; 
  
  }

.credits {
    font-family: system-ui;
    background: #212429;
    font-size: 11px;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
  }  

  .credits a {
    color: #F865B0;
    text-decoration: none;}

  body {
      background-color: black;
      color: white; 
      margin: 0;
      font-family: netflix;
      padding-bottom: 108;
  }
  
  a{
      color: white;
      text-decoration: none ;
    }

    .header{ 
      /*border: 1px solidpurple;*/
      padding: 25px 8px 1px;
      position: relative;
    }

    .featured{
      margin-top: 10px;
      position: relative;
      overflow: hidden;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
    }
    .featured-details{ 
      /*border: 1px solid red;*/
      position: relative;
      bottom: 0; 
      left: 2%; 
      right:0%;
      top: 5%;      
    }

    .tag1 {
      /*border: 1px solid white;*/
      display: list-item; 
      justify-content: left ;
      list-style: none;
      padding:0;
      
    }

    .tag{ 
      /*border: 1px solid red;*/
      display: flex; 
     position: relative; 
     font-size:55px;
     }
     
     
     .tag2 {
      /*border: 1px solid white;*/
      display: flex; 
      justify-content: left ;
      list-style: none;
      padding:0;
      gap: 50px;
      font-size:20px;
      
    }
    .tagx {
      /*border: 1px solid white;*/
      display: flex;
      list-style: none;
      padding:0;
      color: rgb(71, 231, 71);}

      .tagxx{
        /*border: 1px solid white;*/
        display: flex;   
        padding:0px;
        color: gray;}

      .tagxxx {
        /*border: 1px solid white;*/
        display:flex; 
        padding:0px;
        color: gray;}
      
   
    .featured-actions{
      /*height: 100px; */
    display: flex; 
    justify-content: space-evenly;
    align-items: right ;
    padding-bottom: 1em;
    
    }

    
    .button {
      /*border: 1px solid blue; */
      background: white ;
      color: black;
      display: flex; 
      align-items: center;
      padding: 10px 20em 10px 20em;
      border:none;
      border-radius: 7px;
      cursor: pointer; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:19px;
      
      
    }

    .button::before{
      /*border:1px solid red;*/
      content: '';
      display: inline-block; 
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    

    .featured-actions1{
      /*height: 100px; */
    display: flex; 
    justify-content: space-evenly;
    align-items: center ;
    padding-bottom: 1em;
    
    }

    .button-secondary{
      /*border: 1px solid blue; */
      background: rgb(88, 86, 86) ;
      color: white;
      display: flex; 
      justify-content: center;
      align-items: center;
      padding: 10px 20.4em 10px 20.4em;
      border:none;
      border-radius: 7px;
      cursor: pointer; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:19px;
    }
    
    .button-secondary::before{ 
      content:'';
      display: block;
     /*border: 1px solid green;*/
     width: 25px;
     height: 25px;
     margin: auto;
     margin-bottom: 5px;
    }
    .icon-play::before{
      background: url('../../images/icons/play.svg');
     }
     
     .icon-download::before{
       background: url('../../images/icons/dowload.svg');
      }
     
      .descripcion{ 
        font-size: 20px;
        min-height: 10px;
        margin-left: 2%;
        
      }
        
     .botones{ 
        /*border: 1px solid blue; */
        display: flex; 
        align-items: center;
        padding: 5px 1em 5px .5em;
        border:none;
        border-radius: 3px;
        cursor: pointer; 
      }
     
      .buttom2 {
        Background: none;
        color: white;
        /*border: 1px solid red;*/
        font-size: 1.1em;
        min-width: 100px;
        cursor: pointer; 
        border:none; 
      }
      
      
      .buttom2::before{ 
        content:'';
        display: block;
       /*border: 1px solid green;*/
       width: 25px;
       height: 25px;
       margin: auto;
       margin-bottom: 5px;
      }

      .icon-plus::before{
        background: url('../../images/icons/plus.svg');
       }
       
       .icon-like::before{
         background: url('../../images/icons/like.svg');
        }
       
        .icon-email-send::before{
         background: url('../../images/icons/email-send.svg');
        }


  .footer{
    /*border: 1px solid red; */
    position: sticky ;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 1em 0 0;
  
  }
  
  .tab-list { 
    /*border: 1px solid green; */
    margin: 0; 
    padding: 0;
    display: grid; 
    grid-auto-flow: column;
    list-style: none ;
    color: #6e6e6e; 
    padding-bottom: 1em;
  }
  
  .tab-list a{ 
    color: #6e6e6e; 
  }
  
  .tab-item{ 
    /*border: 1px solid purple; */
    text-align: center;
    font-size: .9em;
  }
  
  .tab-item svg{ 
    display: block; 
    /*border: 1px solid red; */
    margin: auto; 
  
  }
   
  .tab-item path{ 
    fill:#6e6e6e; 
  }
  
  .tab-item:hover :is(path, span){ 
    fill: white; 
    color: white; 
  
  }

  
 .list-content{
   /*border: 1px solid red; */
   white-space: nowrap;
   overflow-x:auto;
 }

 .list-item{
  display:inline-block;
  margin-left: 10px;
 }

.list-item:first-child{ 
  margin:0;
}

.list{
  /*border: 1px solid green; */
  padding: 0 1em; 
}
    
  
  
    
  

  
   